*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main{
    height:100%;
    width:100%;
    text-align:center;
    padding-top:100px;
     background-color: #99FFCC;

}
.main-contets{
    height:400px;
    background-color: #99FFCC;
}
h1{
  padding:50px 0;
  color:white;
}
button{
    background-color:white;
    padding:10px 30px;
}
input{
    padding:10px;
    background-color: white;
}
a{
    text-decoration:none;
}


a.btn-border{
    border:2px solid #000;
    border-radius:0;
    background:#fff;
}
a.btn-border:hover{
    color:#fff;
    background:#000;
}
.btn:active {
  transform: translateY(4px);
}