header{
    padding-top: 50px;
}
.main{
    text-align:center;
    display: block;
    background-color: #e5f2ff
}
a{
    text-decoration:none;
    
}
table{
    margin:auto;
}
button{    
    background-color:white;
    padding:10px 30px;
    color:grey;
    margin-top:100px;
}
.main p{
    text-align: left;
    display: inline-block;
}
